
@import url(//fast.fonts.net/cssapi/f3f68dcc-60b8-46e7-b36e-4057ff7c53ae.css);

// Color Variables ( ashville )
$green: #203f37;
$dark-green: #203f37;
$yellow-green: #b7cf17;
$orange: #ed6a31;
$biege: #F8F7ED;


// color variables (wcgr)
$red: #D8493C;
$dark-red: #76261E;
$dark-gray:#333;
$blue: #0099BD;
$tan: #F7F7F0;

// Font Variables
$brandon-lt:'Brandon Grot W01 Light', sans-serif;
$brandon-rg:'BrandonGrotW01-Regular', sans-serif;
$brandon-bld:'Brandon Grot W01 Bold', sans-serif;
$body-font: $brandon-lt;


.brandon-lt{
	font-family: $brandon-lt;
	font-weight: normal;
}
.brandon-rg{
	font-family: $brandon-rg;
	font-weight: normal;
}
.brandon-bld{
	font-family: $brandon-bld;
	font-weight: normal;
}


// Transition Mixin
.transition {
  -webkit-transition: all 200ms ease-in-out;
     -moz-transition: all 200ms ease-in-out;
      -ms-transition: all 200ms ease-in-out;
       -o-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
}

/* Micro ClearFix Mixin */
.clearfix{
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}

body {
  background: #FFF url(http://2014.grandrapids.wordcamp.org/files/2014/06/photo.jpg) no-repeat;
  background-size: 100% auto;
  font-family: $body-font;
}

.site {
  background: transparent;
  border: none;
  max-width: 100%;
}

#main {
  background: #FFF;
}

@import "partials/_header";
@import "partials/_sidebar";
@import "partials/_formatting";
@import "partials/_footer";
@import "partials/_responsive";

// Fixing a crappy FF bug
.entry-content,
.site-content article,
body,
p,
* {
  -moz-hyphens: none !important;
  -webkit-hyphens: none !important;
  -moz-hyphens: none !important;
  hyphens: none !important;
}

// Hide the number of tickets remaining from the Tickets page
.tix-column-remaining {
    display: none;
}

// Fix the attendees page layout
#tix-attendees li {
    height: 120px;  
}


@import "partials/_schedule";

