@import url(//fast.fonts.net/cssapi/f3f68dcc-60b8-46e7-b36e-4057ff7c53ae.css);
/* line 26, sass/style.scss */
.brandon-lt {
  font-family: "Brandon Grot W01 Light", sans-serif;
  font-weight: normal;
}

/* line 30, sass/style.scss */
.brandon-rg {
  font-family: "BrandonGrotW01-Regular", sans-serif;
  font-weight: normal;
}

/* line 34, sass/style.scss */
.brandon-bld, .site-main .sidebar-container .widget-area .widget h3.widget-title, .site-main .sidebar-container .widget-area .widget.widget_text.wcb_widget_sponsors .sponsor-level h4.sponsor-level-title, .site-main .sidebar-container .widget-area .widget.wcb_widget_sponsors .sponsor-level h4.sponsor-level-title, h1, h2, h3, #navbar a, .entry-title, .entry-meta {
  font-family: "Brandon Grot W01 Bold", sans-serif;
  font-weight: normal;
}

/* line 41, sass/style.scss */
.transition, button,
input[type="submit"],
input[type="button"],
input[type="reset"], a.button, .widget a.button {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

/* Micro ClearFix Mixin */
/* line 50, sass/style.scss */
.clearfix {
  zoom: 1;
}
/* line 52, sass/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 53, sass/style.scss */
.clearfix:after {
  clear: both;
}

/* line 56, sass/style.scss */
body {
  background: white url(http://2014.grandrapids.wordcamp.org/files/2014/06/photo.jpg) no-repeat;
  background-size: 100% auto;
  font-family: "Brandon Grot W01 Light", sans-serif;
}

/* line 62, sass/style.scss */
.site {
  background: transparent;
  border: none;
  max-width: 100%;
}

/* line 68, sass/style.scss */
#main {
  background: #FFF;
}

/* line 73, sass/style.scss */
.search-form {
  display: none;
}

/* line 78, sass/style.scss */
.site-header .home-link {
  min-height: 230px;
  padding-top: 20px;
}
/* line 82, sass/style.scss */
.site-header .home-link .site-title {
  background: url(http://2014.grandrapids.wordcamp.org/files/2014/06/logo.png) no-repeat center top;
  height: 200px;
  width: 296px;
  background-size: 296px 200px;
  margin: 0 auto;
  text-indent: -9999em;
}
/* line 91, sass/style.scss */
.site-header .home-link .site-description {
  top: 10px;
  text-align: center;
  position: relative;
  font-style: normal;
  color: #fff;
  font-family: "Brandon Grot W01 Light", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5pt;
  font-weight: 600;
  display: none;
}

/* line 107, sass/style.scss */
header#masthead {
  background: none;
  margin-top: 60px;
}

/* line 113, sass/style.scss */
.widget {
  background-color: #f8f7ed;
}

/* line 117, sass/style.scss */
#secondary {
  display: block;
  position: relative;
  clear: both;
}
/* line 121, sass/style.scss */
#secondary .widget-area {
  /*     height: auto !important; */
}
/* line 125, sass/style.scss */
#secondary .wcb_widget_sponsors {
  width: 100%;
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
/* line 131, sass/style.scss */
#secondary .wcb_widget_sponsors h3.widget-title {
  font-style: normal;
  font-weight: 400;
  color: #A79878;
  font-size: 28px;
}
/* line 139, sass/style.scss */
#secondary .wcb_widget_sponsors .sponsor-level .sponsor-level-title {
  font-weight: 300;
  color: #BDB29A;
  margin-bottom: 0;
}
/* line 144, sass/style.scss */
#secondary .wcb_widget_sponsors .sponsor-level .sponsor-level-title:after {
  content: "";
  display: block;
  background: #E4DED2;
  height: 2px;
  width: 100%;
}
/* line 153, sass/style.scss */
#secondary .wcb_widget_sponsors .sponsor-level .sponsor-logo {
  margin: 40px 0;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
/* line 161, sass/style.scss */
#secondary .wcb_widget_sponsors .sponsor-level .sponsor-logo:hover {
  /* opacity: .7; */
}

/* line 169, sass/style.scss */
.wcorg-mailchimp input {
  width: 100%;
  height: 48px;
  margin-bottom: 20px;
}

/* line 175, sass/style.scss */
#text-4 img {
  /*
width: 100%;
  max-width: 98px;
  margin: 15px;
*/
}
/* line 182, sass/style.scss */
#text-4 img:hover {
  /* opacity: .7; */
}

/* line 187, sass/style.scss */
.site-main .sidebar-container {
  top: 0;
  position: relative;
  background: #fff;
}
/* line 191, sass/style.scss */
.site-main .sidebar-container .widget-area {
  float: none;
  width: auto;
}
/* line 194, sass/style.scss */
.site-main .sidebar-container .widget-area .widget {
  float: none;
}
@media (min-width: 768px) {
  /* line 194, sass/style.scss */
  .site-main .sidebar-container .widget-area .widget {
    float: left;
  }
}
/* line 199, sass/style.scss */
.site-main .sidebar-container .widget-area .widget h3.widget-title {
  color: #333;
  font-size: 18px;
  text-transform: uppercase;
  font-style: normal;
}
/* line 207, sass/style.scss */
.site-main .sidebar-container .widget-area .widget.jetpack_subscription_widget, .site-main .sidebar-container .widget-area .widget.widget_text {
  width: 100%;
}
@media (min-width: 768px) {
  /* line 207, sass/style.scss */
  .site-main .sidebar-container .widget-area .widget.jetpack_subscription_widget, .site-main .sidebar-container .widget-area .widget.widget_text {
    width: 45%;
    margin: 20px 2.5%;
    box-sizing: border-box;
    min-height: 240px;
  }
}
/* line 218, sass/style.scss */
.site-main .sidebar-container .widget-area .widget.widget_text.wcb_widget_sponsors, .site-main .sidebar-container .widget-area .widget.wcb_widget_sponsors {
  display: block;
  float: none;
  width: 100%;
  background: #fff;
  text-align: center;
}
/* line 224, sass/style.scss */
.site-main .sidebar-container .widget-area .widget.widget_text.wcb_widget_sponsors .sponsor-level, .site-main .sidebar-container .widget-area .widget.wcb_widget_sponsors .sponsor-level {
  clear: both;
  display: block;
}
/* line 229, sass/style.scss */
.site-main .sidebar-container .widget-area .widget.widget_text.wcb_widget_sponsors .sponsor-level.venue-sponsor a.sponsor-logo img, .site-main .sidebar-container .widget-area .widget.wcb_widget_sponsors .sponsor-level.venue-sponsor a.sponsor-logo img {
  width: 78%;
  max-width: 300px;
}
/* line 237, sass/style.scss */
.site-main .sidebar-container .widget-area .widget.widget_text.wcb_widget_sponsors .sponsor-level.wordcamp-pillar a.sponsor-logo img, .site-main .sidebar-container .widget-area .widget.wcb_widget_sponsors .sponsor-level.wordcamp-pillar a.sponsor-logo img {
  width: 78%;
  max-width: 300px;
}
/* line 245, sass/style.scss */
.site-main .sidebar-container .widget-area .widget.widget_text.wcb_widget_sponsors .sponsor-level.wordcamp-champion a.sponsor-logo img, .site-main .sidebar-container .widget-area .widget.wcb_widget_sponsors .sponsor-level.wordcamp-champion a.sponsor-logo img {
  width: 78%;
  max-width: 300px;
}
/* line 253, sass/style.scss */
.site-main .sidebar-container .widget-area .widget.widget_text.wcb_widget_sponsors .sponsor-level.wordcamp-accomplice a.sponsor-logo img, .site-main .sidebar-container .widget-area .widget.wcb_widget_sponsors .sponsor-level.wordcamp-accomplice a.sponsor-logo img {
  width: 78%;
  max-width: 250px;
}
/* line 261, sass/style.scss */
.site-main .sidebar-container .widget-area .widget.widget_text.wcb_widget_sponsors .sponsor-level.gold-sponsor a.sponsor-logo img, .site-main .sidebar-container .widget-area .widget.wcb_widget_sponsors .sponsor-level.gold-sponsor a.sponsor-logo img {
  width: 78%;
  max-width: 200px;
}
/* line 269, sass/style.scss */
.site-main .sidebar-container .widget-area .widget.widget_text.wcb_widget_sponsors .sponsor-level.bronze-sponsor a.sponsor-logo img, .site-main .sidebar-container .widget-area .widget.wcb_widget_sponsors .sponsor-level.bronze-sponsor a.sponsor-logo img {
  width: 78%;
  max-width: 150px;
}
/* line 277, sass/style.scss */
.site-main .sidebar-container .widget-area .widget.widget_text.wcb_widget_sponsors .sponsor-level.small-business-sponsor a.sponsor-logo img, .site-main .sidebar-container .widget-area .widget.wcb_widget_sponsors .sponsor-level.small-business-sponsor a.sponsor-logo img {
  width: 78%;
  max-width: 125px;
}
/* line 285, sass/style.scss */
.site-main .sidebar-container .widget-area .widget.widget_text.wcb_widget_sponsors .sponsor-level.in-kind-sponsor a.sponsor-logo img, .site-main .sidebar-container .widget-area .widget.wcb_widget_sponsors .sponsor-level.in-kind-sponsor a.sponsor-logo img {
  width: 78%;
  max-width: 100px;
}
/* line 292, sass/style.scss */
.site-main .sidebar-container .widget-area .widget.widget_text.wcb_widget_sponsors .sponsor-level a.sponsor-logo, .site-main .sidebar-container .widget-area .widget.wcb_widget_sponsors .sponsor-level a.sponsor-logo {
  display: inline-block;
  padding: 20px;
}
/* line 295, sass/style.scss */
.site-main .sidebar-container .widget-area .widget.widget_text.wcb_widget_sponsors .sponsor-level a.sponsor-logo img, .site-main .sidebar-container .widget-area .widget.wcb_widget_sponsors .sponsor-level a.sponsor-logo img {
  width: 78%;
  height: auto;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  /*  -webkit-filter: sepia(100%); */
}
/* line 311, sass/style.scss */
.site-main .sidebar-container .widget-area .widget.widget_text.wcb_widget_sponsors .sponsor-level a.sponsor-logo:hover img, .site-main .sidebar-container .widget-area .widget.wcb_widget_sponsors .sponsor-level a.sponsor-logo:hover img {
  -webkit-filter: grayscale(0%);
}
/* line 316, sass/style.scss */
.site-main .sidebar-container .widget-area .widget.widget_text.wcb_widget_sponsors .sponsor-level h4.sponsor-level-title, .site-main .sidebar-container .widget-area .widget.wcb_widget_sponsors .sponsor-level h4.sponsor-level-title {
  color: #d8493c;
  font-size: 12px;
  text-transform: uppercase;
}

/* line 335, sass/style.scss */
h1 {
  text-transform: uppercase;
  font-size: 24px;
  color: #333333;
}

/* line 340, sass/style.scss */
h4, h5, p, li, input, textarea {
  font-family: "Brandon Grot W01 Light", sans-serif;
}

/* line 344, sass/style.scss */
h3 {
  font-weight: 600;
}

/* line 348, sass/style.scss */
.hentry {
  padding: 60px 10px;
}

/* line 354, sass/style.scss */
.entry-title {
  font-size: 32px;
  font-weight: 300;
  line-height: 42px;
  text-transform: uppercase;
}
/* line 360, sass/style.scss */
.entry-title a {
  color: inherit;
}
/* line 362, sass/style.scss */
.entry-title a:hover {
  color: #0099bd;
}

/* line 368, sass/style.scss */
.entry-meta {
  text-transform: uppercase;
  color: #000;
  font-size: 12px;
}
/* line 373, sass/style.scss */
.entry-meta *:before {
  color: #000;
}
/* line 376, sass/style.scss */
.entry-meta .date a:before {
  content: '\f307';
}

/* line 381, sass/style.scss */
.entry-content {
  font-family: "Brandon Grot W01 Light", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
}

/* line 393, sass/style.scss */
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  background: #d8493c;
  border: none;
  border-bottom: none;
  border-radius: 0;
  color: #fff;
  font-family: "Brandon Grot W01 Light", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1.5pt;
}
/* line 405, sass/style.scss */
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
  background: #76261e;
  color: #fff;
}

/* line 411, sass/style.scss */
a.button, .widget a.button {
  display: block;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background: #ed6a31;
  color: #fff;
  font-family: "Brandon Grot W01 Light", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1.5pt;
}
/* line 424, sass/style.scss */
a.button:hover, .widget a.button:hover {
  background: #b7cf17;
  color: #203f37;
  text-decoration: none;
}

/* line 430, sass/style.scss */
a.button {
  display: inline-block;
  padding: 0 10px;
}

/* line 436, sass/style.scss */
footer.site-footer {
  background: #fff;
  text-align: center !important;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 1.5pt;
  /* padding-top: 200px; */
}
/* line 446, sass/style.scss */
footer.site-footer #secondary {
  background: #fff;
  border-top: none;
}
/* line 451, sass/style.scss */
footer.site-footer .textwidget,
footer.site-footer .widget-title, footer.site-footer .widget-title a, footer.site-footer .wp-caption-text {
  color: #000;
}
/* line 455, sass/style.scss */
footer.site-footer .site-info {
  padding: 10px 0;
  background: #0099bd;
  display: block;
  clear: both;
  max-width: 100%;
  background-image: url(http://2014.grandrapids.wordcamp.org/files/2014/06/date_time.png);
  background-position: center top;
  background-repeat: repeat-x;
  background-size: auto 52px;
  padding-top: 65px;
  margin-bottom: 20px;
}
/* line 469, sass/style.scss */
footer.site-footer a {
  color: #FFF;
}

@media screen and (min-width: 501px) and (max-width: 644px) {
  /* line 474, sass/style.scss */
  .site-info {
    background: #0099bd;
    background-image: url(http://2014.grandrapids.wordcamp.org/files/2014/06/dates_times_mobile_web.png) !important;
    background-size: 500px !important;
    background-repeat: no-repeat !important;
  }
}
@media screen and (max-width: 500px) {
  /* line 483, sass/style.scss */
  .site-info {
    background: #0099bd;
    background-image: url(http://2014.grandrapids.wordcamp.org/files/2014/06/dates_times_mobile_web.png) !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
  }
}
@media screen and (min-width: 1203px) {
  /* line 499, sass/style.scss */
  .navbar .nav-menu li a {
    padding: 0 20px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1044px) and (max-width: 1202px) {
  /* line 506, sass/style.scss */
  .navbar .nav-menu li a {
    padding: 0 15px;
    font-size: 13px;
  }
}
@media screen and (min-width: 644px) and (max-width: 1043px) {
  /* line 513, sass/style.scss */
  .navbar .nav-menu li a {
    padding: 0 10px;
    font-size: 12px;
  }

  /* line 518, sass/style.scss */
  .site-info,
  #main {
    background-size: 100% auto !important;
  }
}
@media screen and (min-width: 644px) {
  /* line 526, sass/style.scss */
  .home .site-header .home-link {
    padding-top: 60px;
    min-height: 480px;
  }
  /* line 530, sass/style.scss */
  .home .site-header .home-link .site-title {
    height: 250px;
    width: 371px;
    background-size: auto;
  }
  /* line 536, sass/style.scss */
  .home .site-header .home-link .site-description {
    top: 50px;
    font-size: 18px;
    color: #fff;
  }

  /* line 545, sass/style.scss */
  #navbar {
    position: fixed;
    top: 0;
    height: 60px;
    max-width: 100%;
    background: #d8493c;
    z-index: 10000;
  }
  /* line 553, sass/style.scss */
  #navbar .nav-menu {
    padding: 0;
    text-align: center;
  }
  /* line 560, sass/style.scss */
  #navbar .nav-menu .current_page_item > a,
  #navbar .nav-menu .current_page_ancestor > a,
  #navbar .nav-menu .current-menu-item > a,
  #navbar .nav-menu .current-menu-ancestor > a {
    font-style: normal;
  }
  /* line 564, sass/style.scss */
  #navbar .nav-menu li a {
    line-height: 60px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.5pt;
    /* @extend .transition; */
  }
  /* line 573, sass/style.scss */
  #navbar .nav-menu li:hover > a {
    background: transparent;
  }
  /* line 577, sass/style.scss */
  #navbar .nav-menu li a:hover {
    background: #d8493c;
    color: #76261e;
  }
  /* line 583, sass/style.scss */
  #navbar .nav-menu .sub-menu,
  #navbar .nav-menu .children {
    border: none;
    left: 0;
    /* background-color: $dark-red; */
  }
  /* line 588, sass/style.scss */
  #navbar .nav-menu .sub-menu li,
  #navbar .nav-menu .children li {
    width: 100%;
  }
  /* line 591, sass/style.scss */
  #navbar .nav-menu .sub-menu li a,
  #navbar .nav-menu .children li a {
    line-height: 24px;
    padding: 12px 20px;
    border-bottom: 1px solid #2C503A;
    text-align: center;
    width: 100%;
    min-width: 150px;
  }
  /* line 607, sass/style.scss */
  #navbar li.current_page_item:after,
  #navbar li.current-menu-ancestor:after,
  #navbar li.current-menu-parent:after,
  #navbar li.current_page_parent:after,
  #navbar li.current_page_ancestor:after {
    display: block;
    content: '';
    height: 8px;
    width: 100%;
    background: #76261e;
    position: absolute;
    bottom: 0px;
  }
  /* line 617, sass/style.scss */
  #navbar li.tickets {
    float: right;
    margin-right: 10px;
  }
  /* line 620, sass/style.scss */
  #navbar li.tickets a {
    background: #76261e;
    color: #fff;
    /* @extend .transition; */
  }
  /* line 625, sass/style.scss */
  #navbar li.tickets a:hover {
    background: #0099bd;
    color: #fff;
  }
  /* line 632, sass/style.scss */
  #navbar .home a {
    text-indent: -99999em;
    height: 60px;
    width: 60px;
  }
  /* line 639, sass/style.scss */
  #navbar li.current_page_item.home:after,
  #navbar li.current_page_item.tickets:after {
    display: none;
  }

  /* line 645, sass/style.scss */
  .main-navigation {
    max-width: 100% !important;
  }

  /* line 649, sass/style.scss */
  .site-content {
    min-height: 720px;
  }

  /*!main*/
  /* line 654, sass/style.scss */
  #main {
    background-image: url(http://2014.grandrapids.wordcamp.org/files/2014/06/date_time.png);
    background-position: center top;
    background-repeat: repeat-x;
    background-size: auto 52px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 65px;
  }

  /* line 666, sass/style.scss */
  #secondary .wcb_widget_sponsors .sponsor-level .sponsor-logo {
    width: 50%;
    display: block;
    float: left;
    text-align: center;
    box-sizing: border-box;
  }

  /* line 676, sass/style.scss */
  #secondary .wcb_widget_sponsors .sponsor-level.wordcamp-champion .sponsor-logo {
    width: 33%;
    padding: 15px;
    box-sizing: border-box;
  }

  /* line 683, sass/style.scss */
  #secondary .wcb_widget_sponsors .sponsor-level.wordcamp-accomplice .sponsor-logo {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
  }

  /* line 689, sass/style.scss */
  #secondary .wcb_widget_sponsors .sponsor-level.small-business-sponsor .sponsor-logo {
    min-height: 100px;
  }

  /* line 694, sass/style.scss */
  #secondary .wcb_widget_sponsors .sponsor-level.in-kind-sponsor .sponsor-logo {
    width: 33%;
    padding: 10px;
    box-sizing: border-box;
    min-height: 174px;
  }
}
@media screen and (max-width: 643px) {
  /* line 704, sass/style.scss */
  header#masthead {
    margin-top: 0;
  }

  /* line 708, sass/style.scss */
  .navbar {
    background-color: #d8493c;
    color: #FFF !important;
  }
  /* line 713, sass/style.scss */
  .navbar .nav-menu li a,
  .navbar .nav-menu li > ul a {
    color: #FFF;
  }
  /* line 718, sass/style.scss */
  .navbar .nav-menu .sub-menu, .navbar .nav-menu .children {
    border: none;
  }

  /* line 722, sass/style.scss */
  .toggled-on .nav-menu li a:hover, .toggled-on .nav-menu ul a:hover {
    background-color: #76261e;
  }
}
/* line 731, sass/style.scss */
body.ie8 #main,
body.ie8 .site-info,
body.ie7 #main,
body.ie7 .site-info {
  background-image: none !important;
}
/* line 734, sass/style.scss */
body.ie8 .site-description,
body.ie7 .site-description {
  display: block !important;
}

/* line 746, sass/style.scss */
.entry-content,
.site-content article,
body,
p,
* {
  -moz-hyphens: none !important;
  -webkit-hyphens: none !important;
  -moz-hyphens: none !important;
  hyphens: none !important;
}

/* line 754, sass/style.scss */
.tix-column-remaining {
  display: none;
}

/* line 759, sass/style.scss */
#tix-attendees li {
  height: 120px;
}

/* line 783, sass/style.scss */
.wcpt-schedule td {
  vertical-align: top;
}
/* line 786, sass/style.scss */
.wcpt-schedule .wcpt-track-name {
  display: block;
}
/* line 789, sass/style.scss */
.wcpt-schedule .wcpt-session-title {
  display: block;
}
/* line 793, sass/style.scss */
.wcpt-schedule .wcpt-session-speakers a {
  color: #21759b;
}

/* line 808, sass/style.scss */
body.page-id-1 .sidebar-container {
  display: none;
}

/* line 816, sass/style.scss */
#post-1 .entry-header,
#post-1 .entry-content,
#post-1 .entry-summary,
#post-1 .entry-meta {
  padding-right: 30px;
  padding-left: 30px;
}
/* line 821, sass/style.scss */
#post-1 .color-key {
  margin-bottom: 20px;
  clear: both;
}
/* line 825, sass/style.scss */
#post-1 .color-key > div {
  padding: 5px;
  color: #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}
/* line 832, sass/style.scss */
#post-1 .color-key .key-designer {
  background: #278374;
}
/* line 835, sass/style.scss */
#post-1 .color-key .key-user-content {
  background: #24799e;
}
/* line 838, sass/style.scss */
#post-1 .color-key .key-beginner {
  background: #ec5b2f;
}
/* line 841, sass/style.scss */
#post-1 .color-key .key-developer {
  background: #ae4395;
}
/* line 844, sass/style.scss */
#post-1 .color-key .key-everyone {
  background: #832f3f;
}
/* line 847, sass/style.scss */
#post-1 .color-key .key-break {
  background: #797979;
}
/* line 853, sass/style.scss */
#post-1 .wcpt-schedule td {
  vertical-align: top;
}
/* line 858, sass/style.scss */
#post-1 .wcpt-schedule .wcb-track-beginner {
  background: #ec5b2f;
}
/* line 861, sass/style.scss */
#post-1 .wcpt-schedule .wcb-track-usercontent {
  background: #24799e;
}
/* line 864, sass/style.scss */
#post-1 .wcpt-schedule .wcb-track-designer {
  background: #278374;
}
/* line 867, sass/style.scss */
#post-1 .wcpt-schedule .wcb-track-developer {
  background: #ae4395;
}
/* line 870, sass/style.scss */
#post-1 .wcpt-schedule .wcb-session-building-better-websites-through-collaboration-communication-and-consistency {
  background: #278374;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #278374 0%, #278374 50%, #ae4395 51%, #ae4395 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #278374), color-stop(50%, #278374), color-stop(51%, #ae4395), color-stop(100%, #ae4395));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #278374 0%, #278374 50%, #ae4395 51%, #ae4395 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #278374 0%, #278374 50%, #ae4395 51%, #ae4395 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #278374 0%, #278374 50%, #ae4395 51%, #ae4395 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #278374 0%, #278374 50%, #ae4395 51%, #ae4395 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#278374', endColorstr='#ae4395',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
/* line 880, sass/style.scss */
#post-1 .wcpt-schedule .wcb-track-room-1.wcb-track-room-2.wcb-track-room-3.wcb-track-room-4 {
  background: #797979;
}
/* line 883, sass/style.scss */
#post-1 .wcpt-schedule .wcpt-session-type-custom.wcb-track-room-1 {
  background: #832f3f;
}
/* line 888, sass/style.scss */
#post-1 .wcpt-schedule .wcpt-session-type-custom,
#post-1 .wcpt-schedule .wcpt-session-type-session {
  padding-left: 10px;
}
/* line 891, sass/style.scss */
#post-1 .wcpt-schedule .wcpt-track-name {
  display: block;
}
/* line 894, sass/style.scss */
#post-1 .wcpt-schedule .wcpt-session-title {
  color: #fff;
  line-height: 1.5;
  font-weight: bold;
}
/* line 899, sass/style.scss */
#post-1 .wcpt-schedule .wcpt-session-title {
  display: block;
}
/* line 902, sass/style.scss */
#post-1 .wcpt-schedule .wcpt-session-speakers {
  font-style: italic;
}
/* line 904, sass/style.scss */
#post-1 .wcpt-schedule .wcpt-session-speakers a {
  color: #DCDCDC;
}
/* line 907, sass/style.scss */
#post-1 .wcpt-schedule .wcpt-session-speakers a:before {
  content: '- ';
}
/* line 911, sass/style.scss */
#post-1 .wcpt-schedule .wcpt-session-speakers:before {
  display: none;
}
/* line 915, sass/style.scss */
#post-1 .wcpt-schedule .wcpt-session-type-session:before {
  color: #fff;
}
/* line 919, sass/style.scss */
#post-1 .wcpt-schedule .wcpt-session-empty {
  display: none;
}

@media all and (min-width: 500px) {
  /* line 925, sass/style.scss */
  #post-1 .color-key > div {
    float: left;
    width: 50%;
  }

  /* line 929, sass/style.scss */
  #post-1 .wcpt-schedule td {
    border-right: 1px solid #fff;
  }
}
/*Remove default padding on the 2013 theme.*/
/* line 940, sass/style.scss */
.sidebar .entry-header,
.sidebar .entry-content,
.sidebar .entry-summary,
.sidebar .entry-meta {
  max-width: 604px !important;
  /* padding: 0 376px 0 60px; */
  padding: 0px 0px 0px 0px !important;
}

@media screen and (min-width: 501px) and (max-width: 644px) {
  /* line 947, sass/style.scss */
  #main {
    background: white;
    background-image: url(http://2014.grandrapids.wordcamp.org/files/2014/06/dates_times_mobile_web.png) !important;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 30px;
  }
}
@media screen and (max-width: 500px) {
  /* line 958, sass/style.scss */
  #main {
    background: white;
    background-image: url(http://2014.grandrapids.wordcamp.org/files/2014/06/dates_times_mobile_web.png) !important;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
