.search-form {
  display: none;
}

.site-header {
  .home-link {
    min-height: 230px;
    padding-top: 20px;

    .site-title {
      background: url(http://2014.grandrapids.wordcamp.org/files/2014/06/logo.png) no-repeat center top;
      height: 200px;
      width: 296px;
      background-size: 296px 200px;
      margin: 0 auto;
      text-indent: -9999em;
    }

    .site-description {
      top: 10px;
      text-align: center;
      position: relative;
      font-style: normal;
      color: #fff;
      font-family: $body-font;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1.5pt;
      font-weight: 600;
      display: none;
    }
  }
}

header#masthead {
  background: none;
  margin-top: 60px;
}