// Schedule
// body.page-id-1 {
//   .sidebar-container {
//     display: none;
//   }
// }
// #post-1 {
//   .entry-header,
//   .entry-content,
//   .entry-summary,
//   .entry-meta {
//     padding-right: 30px;
//     padding-left: 30px;
//   }
// }

.wcpt-schedule {
  td {
    vertical-align: top;
  }
  .wcpt-track-name {
    display: block;
  }
  .wcpt-session-title {
    display: block;
  }
  .wcpt-session-speakers {
    a {
      color: #21759b;
    }
  }
}

// Schedule Colors:
$s-gray: #797979;
$s-red: #832F3F;
$s-orange: #EC5B2F;
$s-blue: darken(#2D99C8, 10%);
$s-green: darken(#33AA97, 10%);
$s-purple: #AE4395;

body.page-id-1 {
  .sidebar-container {
    display: none;
  }
}
#post-1 {
  .entry-header,
  .entry-content,
  .entry-summary,
  .entry-meta {
    padding-right: 30px;
    padding-left: 30px;
  }

  .color-key {
    margin-bottom: 20px;
    clear: both;

    & > div {
      padding: 5px;
      color: #fff;
      border-bottom: 1px solid #fff;
      border-right: 1px solid #fff;
    }

    .key-designer {
      background: $s-green;
    }
    .key-user-content {
      background: $s-blue;
    }
    .key-beginner {
      background: $s-orange;
    }
    .key-developer {
      background: $s-purple;
    }
    .key-everyone {
      background: $s-red;
    }
    .key-break {
      background: $s-gray;
    }
  }

  .wcpt-schedule {
    td {
      vertical-align: top;
    }

    // Track Highlighting
    .wcb-track-beginner {
      background: $s-orange;
    }
    .wcb-track-usercontent {
      background: $s-blue;
    }
    .wcb-track-designer {
      background: $s-green;
    }
    .wcb-track-developer {
      background: $s-purple;
    }
    .wcb-session-building-better-websites-through-collaboration-communication-and-consistency {
      background: #278374; /* Old browsers */
      background: -moz-linear-gradient(-45deg,  #278374 0%, #278374 50%, #ae4395 51%, #ae4395 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#278374), color-stop(50%,#278374), color-stop(51%,#ae4395), color-stop(100%,#ae4395)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(-45deg,  #278374 0%,#278374 50%,#ae4395 51%,#ae4395 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(-45deg,  #278374 0%,#278374 50%,#ae4395 51%,#ae4395 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(-45deg,  #278374 0%,#278374 50%,#ae4395 51%,#ae4395 100%); /* IE10+ */
      background: linear-gradient(135deg,  #278374 0%,#278374 50%,#ae4395 51%,#ae4395 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#278374', endColorstr='#ae4395',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    .wcb-track-room-1.wcb-track-room-2.wcb-track-room-3.wcb-track-room-4 {
      background: $s-gray;
    }
    .wcpt-session-type-custom.wcb-track-room-1 {
      background: $s-red;
    }
    
    .wcpt-session-type-custom,
    .wcpt-session-type-session {
      padding-left: 10px;
    }
    .wcpt-track-name {
      display: block;
    }
    .wcpt-session-title {
      color: #fff;
      line-height: 1.5;
      font-weight: bold;
    }
    .wcpt-session-title {
      display: block;
    }
    .wcpt-session-speakers {
      font-style: italic;
      a {
        color: #DCDCDC;

        &:before {
          content: '- ';
        }
      }
      &:before {
        display: none;
      }
    }
    .wcpt-session-type-session:before {
      color: #fff;
    }
    
    .wcpt-session-empty {
      display: none;
    }
  }
}
@media all and (min-width: 500px) {
  #post-1 .color-key > div {
    float: left;
    width: 50%;
  }
  #post-1 .wcpt-schedule td {
    border-right: 1px solid #fff;
  }
}